<div class="container">
	<style>
		/*
		 * CSS Style found here:
		 * http://www.bymichaellancaster.com/blog/fluid-iframe-and-images-without-javascript-plugins/
		 */
		.fluidMedia {
			position: relative;
			padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
			padding-top: 30px;
			height: 0;
			overflow: hidden;
		}

		.fluidMedia iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	</style>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<!-- The SRC inside this page is the only thing you need to change to display a diffrerent page. -->
			<div class="fluidMedia">
				<!--iframe style="border: none; overflow: hidden; width: 100%; height: 100%;" height="100%" width="100%" ng-src="{{iframeUrl}}"></iframe-->
				<iframe frameborder="0" ng-src="{{iframeUrl}}"></iframe>
			</div>
		</div>
	</div>
</div>
