<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderController">
	<div class="container">
		<div class="navbar-header">
			<button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ng-click="navCollapsed = true" href="./#/home">The Imitation Game</a>
		</div>
		<div id="navbar" collapse="navCollapsed" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ng-class="{active: isActive('/home')}">
					<a ng-click="navCollapsed = true" href="./#/home">Home</a>
				</li>
				<li ng-class="{active: isActive('/page/computing_technologies')}">
					<a ng-click="navCollapsed = true" href="./#/page/computing_technologies">Computing Technologies</a>
				</li>
				<li ng-class="{active: isActive('/page/intent_of_movie_makers')}">
					<a ng-click="navCollapsed = true" href="./#/page/intent_of_movie_makers">Intent of Movie Makers</a>
				</li>
				<li ng-class="{active: isActive('/page/timeline')}">
					<a ng-click="navCollapsed = true" href="./#/page/timeline">Timeline</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Class Topics <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a ng-click="navCollapsed = true"  href="./#/class_topic/information_privacy">Information Privacy</a>
						</li>
						<li>
							<a ng-click="navCollapsed = true" href="./#/class_topic/intellectual_property">Intellectual Property</a>
						</li>
						<li>
							<a ng-click="navCollapsed = true" href="./#/class_topic/network_communication">Network Communication</a>
						</li>
						<li>
							<a ng-click="navCollapsed = true" href="./#/class_topic/privacy_and_government">Privacy &#38; Government</a>
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li><a href="#">Separated link</a></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class=""><a href="https://github.com/JLLeitschuh/WPI-CS3043-Imitation-Game">Github Project</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
