<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-10">
				<h1>Imitation Game</h1>
				<p>A look at the social implications of the technology potrayed in the film and the corisponding real events.</p>
				<p>More text here.</p>
				<p>
					<a class="btn btn-lg btn-primary" href="./#/navbar" role="button">And a Button &raquo;</a>
				</p>
			</div>
			<div class="col-xs-6 col-md-2"?>
				<br>
				<a href="http://www.imdb.com/title/tt2084970/" class="thumbnail">
					<img src="images/MovieCover.jpeg" alt="...">
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<!-- Giant block of space for padding. Feel free to fill it with something-->
		</div>
		<div class="col-xs-12 col-sm-12 col-md-4"?>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="panel-heading">Movie Facts</div>
				<div class="panel-body">
					<p>Any text we want here</p>
				</div>
				<!-- Table -->
				<table class="table">
					<tbody>
						<tr>
							<th scope="row">Release Date</th>
							<td>August 29, 2014</td>
						</tr>
						<tr>
							<th scope="row">Director</th>
							<td>Morten Tyldum</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div> <!-- /container -->
